# dependencies
node_modules
mf-transacoes/node_modules
mf-dashboard/node_modules
mobile/node_modules

# Capacitor / Xcode
mobile/.env
mobile/.env.local
mobile/ios/App/Pods
mobile/ios/DerivedData
mobile/dist
mobile/ios/App/App.xcworkspace/xcuserdata
mobile/ios/App/App.xcodeproj/xcuserdata
mobile/ios/App/App.xcodeproj/project.xcworkspace/xcuserdata

# next.js
.next/
out/

# production
/build
mf-transacoes/dist
mf-transacoes/.angular
mf-dashboard/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
mf-dashboard/*.tsbuildinfo
